<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
    <span class="brand">
        <i (click)="addToggle()" class='bx bx-menu' ></i>
        <span class="text">Dashboard</span>
    </span>
    
    <ul class="side-menu top">
      <li class="active">
        <a (click)="navigateTo('dashboard/home')">
          <i class='bx bxs-dashboard' ></i>
          <span class="text">Home</span>
        </a>
      </li>
      <li>
        <a (click)="navigateTo('dashboard/listings')">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <span class="text">Listings</span>
        </a>
      </li>

      <li>
        <a (click)="navigateTo('dashboard/wallet')">
          <i class='bx bxs-wallet' ></i>
          <span class="text">Balance & Payments</span>
        </a>
      </li>
      <li>
        <a (click)="navigateTo('dashboard/profile')">
          <i class='bx bxs-user' ></i>
          <span class="text">My Info</span>
        </a>
      </li>

      <li>
        <a (click)="navigateTo('/home')" style="cursor: pointer;">
          <i class='bx bx-store' ></i>
          <span class="text">Visit Store</span>
        </a>
      </li>


      <li>
        <a (click)="logout()" style="cursor: pointer;">
          <i class='bx bx-log-out-circle' ></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
</section>
<!-- SIDEBAR -->

<div id="content" *ngIf="customer">
  <nav style="top:0">
      <form action=""></form>
      <a (click)="navigateTo('dashboard/wallet')" class="notification">
        <span class="num"><i class='bx bx-euro' ></i>{{customer.balance}}</span>
      </a>
      <a (click)="navigateTo('dashboard/profile')" class="profile">
        <img src="{{customer.profile_picture}}">
      </a>
    </nav>
  <router-outlet></router-outlet>
</div>