
  <main>
    <div class="d-flex justify-content-center">
      <div *ngIf="customer.status === 'Waiting 3rd Party Activation'" class="m-2 p-2 alert alert-danger text-center w-50" role="alert">
        Your Customer profile is pending activation
      </div>
    </div>

   <section class="d-flex justify-content-center text-center flex-wrap m-2">
      <div class="cardio">
        <h2><i class='bx bx-plus-circle'></i></h2>
        <h4>Create Listing</h4>
        <p class="p-2">Create Listing and wait for 3rd party activation</p>
      </div>

      <div class="cardio">
        <h2><i class='bx bx-edit-alt' ></i></h2>
        <h4>Manage Listing</h4>
        <p class="p-2">Manage your listings and edit some info</p>
      </div>

      <div class="cardio">
        <h2><i class='bx bx-cart-add'></i></h2>
        <h4>TopUp Wallet</h4>
        <p class="p-2">Increase your balance or withdraw your funds</p>
      </div>

      <div class="cardio">
        <h2><i class='bx bxs-user-detail'></i></h2>
        <h4>Edit Profile Info</h4>
        <p class="p-2">Edit your personal info</p>
      </div>

      <div class="cardio">
        <h2><i class='bx bx-question-mark' ></i></h2>
        <h4>FAQs</h4>
        <p class="p-2">Watch our FAQs page</p>
      </div>
   </section>

  </main>
    <!-- MAIN -->
    <!-- <main>
        <div class="head-title mt-4">
          <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Dashboard</a>
              </li>
              <li><i class='bx bx-chevron-right' ></i></li>
              <li>
                March +1
              </li>
            </ul>
          </div>
          <a (click)="showWebsite()" class="btn-download">
            <i class='bx bx-globe' ></i>
            <span class="text">Ver o Site</span>
          </a>
        </div>
    
        <ul class="box-info">
          <li>
            <i class='bx bxs-tachometer' ></i>
            <span class="text">
              <h3>50</h3>
              <p>Reservas Ativas</p>
            </span>
          </li>
          <li>
            <i class='bx bxs-food-menu' ></i>
            <span class="text">
              <h3>40</h3>
              <p>Reservas deste Mês</p>
            </span>
          </li>
          <li>
            <i class='bx bx-euro' ></i>
            <span class="text">
              <h3>€30</h3>
              <p>Receita Mensal</p>
            </span>
          </li>
        </ul>
    
    
        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>Reservas de Fevereiro</h3>
              
            </div>
            <table>
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Status</th>
                  <th>Mota</th>
                  <th>Início e Fim</th>
                  <th>Pagamento</th>
                  <th>Caução</th>
                  <th>Como chegou</th>
                  <th>Detalhes</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
      </main> -->
      <!-- MAIN -->
  