

<main>

    <section class="d-flex justify-content-center text-center flex-wrap m-2">

        <div class="cardio">
            <h2><i class='bx bx-euro'></i>0</h2>
            <h4>Current Balance</h4>
        </div>

        <div class="cardio">
          <h2><i class='bx bx-plus-circle'></i></h2>
          <h4>Charge wallet</h4>
          
        </div>
  
        <div class="cardio">
          <h2><i class='bx bx-edit-alt' ></i></h2>
          <h4>Withrdaw Funds</h4>
          
        </div>

     </section>

    <section class="p-2">
        <h4 class="mt-2">This is your payment history</h4>
        <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
        </table>
    </section>

</main>