<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5 p-4 bg-light ">
        <h3>Let's build your customer or seller profile</h3>
        <!-- your-component.component.html -->
      <form [formGroup]="profileForm" (submit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Your Name" formControlName="displayName" required>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <div class="form-control" id="email" readonly style="background-color: #e9ecef;">{{user.email}}</div>
        </div>           

        <div class="mb-3">
          <label for="phone" class="form-label">Phone number</label>
          <div class="input-group">
            <select class="form-select" id="countryCodePhone" formControlName="countryCodePhone" required>
              <option *ngFor="let country of countriesPhone" [value]="country.phoneCode">{{ country.name }}</option>
            </select>
            <input type="text" class="form-control" id="phone" placeholder="Your Phone Number" formControlName="phone" required>
          </div>
        </div>

        <div class="mb-3">
          <label for="vat" class="form-label">ID number</label>
          <div class="input-group">
            <input type="text" class="form-control" id="vat" placeholder="Your ID Number" formControlName="id_number" required>
          </div>
        </div>

        <div class="mb-3">
          <label for="profilePicture" class="form-label">Profile Picture</label>
          <input type="file" class="form-control" id="profilePicture" accept="image/*" (change)="onProfilePictureChange($event)">
        </div>

        <div class="mb-3">
          <label for="idPicture" class="form-label">Please upload your ID</label>
          <input type="file" class="form-control" id="idPicture" accept="image/*" (change)="onIdPictureChange($event)">
        </div>

        <div class="mb-3">
          <label for="message" class="form-label">Address</label>
          <textarea class="form-control" id="message" rows="2" placeholder="Your Address" formControlName="address" required></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      </div>
    </div>
</div>
  